# Yarn package manager
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# NPM
/node_modules
/package.tgz

# Misc
.DS_Store
.env
.env.*
env.ts